<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notific"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlVet2">
        <activity
            android:name="com.controlvet.notific.Mainwebloc"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.webb"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.llamadas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.controlvet.notific.verVacunas2"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.VerDatos"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.vacunas"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.notificaciones"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.ver_datos"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.agregar_datos"
            android:exported="false" />
        <activity
            android:name="com.controlvet.notific.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ControlVet" />
        <activity
            android:name="com.controlvet.notific.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>